
{% extends "index.html.twig" %}

{% block section %}
<form method="post" action="index.php" class="well">
<fieldset>
  <legend>Veuillez vous identifier :</legend>
    <div class="form-group row">
      <label for="login" class="col-sm-2 col-form-label col-form-label-sm">Login :</label>
      <div class="col-sm-6">
        <input  type="text" id="login" class="form-control form-control-sm" name="login" required placeholder="" />
      </div>
    </div>
    <div class="form-group row">
      <label for="logpasswdin" class="col-sm-2 col-form-label col-form-label-sm">Mot de passe :</label>
      <div class="col-sm-6">
        <input  type="password" id="password" class="form-control form-control-sm" name="password" required placeholder="" />
      </div>
    </div>
  <input type="submit" name="connexion" value="connexion"/>
</fieldset>
</form>
{% endblock %}